@page
@model ProyectoCiclo3.App.Frontend.Pages.FormEstacionModel
@{
}
 
<div class="text-center">
<form method="post">
  
  <label for="Nombre" class="form-label">Nombre:</label>
  <input type="text" class="form-control" placeholder="Nombre" asp-for="Estacion.nombre">
  <span class="text-danger" asp-validation-for="Estacion.nombre"></span>

  <label for="Direccion" class="form-label">Direccion:</label>
  <input type="text" class="form-control" placeholder="Direccion" asp-for="Estacion.direccion" required>
  <label for="Coord.X" class="form-label">Coord.X:</label>
  <input type="float" class="form-control" placeholder="Coord.X" asp-for="Estacion.coord_x" required>
  <label for="Coord.Y" class="form-label">Coord.Y:</label>
  <input type="float" class="form-control" placeholder="Coord.Y"  asp-for="Estacion.coord_y" required>
  <label for="Tipo" class="form-label">Tipo:</label>
  <input type="text" class="form-control" placeholder="Tipo"  asp-for="Estacion.tipo" required>
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>