@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style="color: black;" class="display-3 bg-white border-bottom box-shadow mb-3">*Bienvenidos - Equipo5*</h1>
    <body background="https://s1.1zoom.me/b5750/595/Mercedes-Benz_Bus_Motion_526871_1366x768.jpg"></body>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
