@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
body{
    background-image: url("https://s1.1zoom.me/b5750/595/Mercedes-Benz_Bus_Motion_526871_1366x768.jpg");
   background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}
h1{
    color: white;
}

</style>  
<div class="text-center">
    <h1  class="  mb-3">*Bienvenidos - Equipo5*</h1>
    <body ></body>
   </div>
